<section class="latest-tailer-area pt-90 pb-100 indicator-style-two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-titel style-3 text-left">
          <h2>
            <%= t "section.title_moviews" %>
            <span><%= t "section.span_moviews" %></span></h2>
        </div>
      </div>
    </div>
    <div class="latest-trailer-main">
      <div class="row">
        <div class="col-md-6">
          <div class="trailer-left-area slider slider-for-team">
            <% @movies.each do |movie| %>
              <div class="slick-left-thumb">
                <%= image_tag movie.poster.url if movie.poster? %>
                <%= link_to image_tag("home-video/play-arrow.png", alt: ""),
                 "https://www.youtube.com/watch?v=hzeI_-Trzu8", class: "popup-youtube" %></div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="trailer-right-area slider slider-nav-team">
            <% @movies.each do |movie| %>
              <div class="traier-nav-thumb-area">
                <div class="trailer-thumb-single mb-10">
                  <div class="trailer-thumb trailer-thumb-movie">
                    <%= image_tag movie.poster.url if movie.poster? %>
                  </div>
                  <div class="trailer-content">
                    <h6>
                      <%= link_to movie.name, movie %>
                    </h6>
                    <div class="trailer-titel">
                      <h5>
                        <p class="badge badge-warning"> <%= movie.critic_score > 0 ? movie.critic_score.round(1): "N/A" %> </p> |
                        <p class="badge badge-warning"> <%= movie.audience_score > 0 ? movie.audience_score.round(1) : "N/A" %> </p>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
