<section class="tailer-area pt-90 indicator-style-two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-titel style-3 text-left">
          <h2><%= t "section.title_news" %><span> <%= t "section.span_week"
          %></span></h2>
          <p><%= t "teamplate.lorem" %></p>
        </div>
      </div>
    </div>
    <div class="main-section">
      <div class="recent-upload-active owl-carousel owl-theme">
        <div class="news-item">
          <div class="trailer-img">
            <%= image_tag "home-video/trailer/1.jpg", alt: "" %>
          </div>
          <div class="trailer-titel">
            <h5>
              <%= link_to t("teamplate.name"), "#" %>
              <span><%= t "teamplate.rate" %></span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
