<section class="tailer-area pb-90 indicator-style-two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-titel style-3 text-left">
          <h2><%= t "section.title_tv"%> <span> <%= t "section.span_tv" %></span></h2>
          <p><%= t "teamplate.lorem" %></p>
        </div>
      </div>
    </div>
    <div class="main-section">
      <div class="recent-upload-active owl-carousel owl-theme">
        <div class="trailer-single">
          <div class="trailer-img">
            <%= image_tag("home-video/trailer/5.jpg") %>
            <%= link_to '<i class="icofont icofont-play-alt-2"></i>', class:
                "popup-youtube" %>
          </div>
          <div class="trailer-titel">
            <h5>
              <%= link_to t "teamplate.name" %>
              <span> <%= link_to t "teamplate.rate" %> </span> </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
