<%= content_for :slider do %>
  <%= render "layouts/slider" %>
<% end %>
<div class="page-content">
  <%= render "static_pages/moviews_dvds" %>
  <%= render "static_pages/tvshow"%>
  <!-- <%= render "static_pages/news" %> -->
</div>
