<%= form_for [:admin, celebrity_medium] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <p>
    <%= f.label t ".celebrity" %>
    <%= f.collection_select :celebrity_id, Celebrity.all, :id, :name %>
  </p>
  <p>
    <%= f.label t ".role" %>
    <%= f.select :role, CelebrityMedium.roles.keys.map {|role| [role.titleize,role]} %>
  </p>
  <%= f.hidden_field :medium_id, {value: medium_id} %>
  <p>
    <%= f.submit "Add Celebrity" %>
  </p>
<% end %>
