<%= form_for [:admin, @tv_show, season] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <p>
    <%= f.label t ".season_number" %>
    <%= f.number_field :season_number %>
  </p>
  <p>
    <%= f.label t ".info" %>
    <%= f.text_field :info %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
