<%= form_for [:admin, @celebrity] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <%= f.label t ".name" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label t ".date_of_birth" %>
  <%= f.text_field :date_of_birth, class: "form-control" %>

  <%= f.label t ".gender" %>
  <%= f.text_field :gender, class: "form-control" %>

  <%= f.label t ".nationality" %>
  <%= f.text_field :nationality, class: "form-control" %>

  <span class="portrait">
    <%= f.file_field :portrait, accept: Settings.celebrities.portrait_accept %>
  </span>

  <%= f.submit t ".submit", class: "btn btn-primary" %>
<% end %>
