<%= form_for [:admin, @celebrity] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <h4 class="text-warning"><%= f.label t ".name" %></h4>
  <%= f.text_field :name, class: "form-control" %><br>

  <h4 class="text-warning"><%= f.label t ".date_of_birth" %></h4>
  <%= f.text_field :date_of_birth, class: "form-control" %><br>

  <h4 class="text-warning"><%= f.label t ".gender" %></h4>
  <%= f.text_field :gender, class: "form-control" %><br>

  <h4 class="text-warning"><%= f.label t ".nationality" %></h4>
  <%= f.text_field :nationality, class: "form-control" %><br>

  <span class="portrait">
    <%= f.file_field :portrait, accept: Settings.celebrities.portrait_accept %>
  </span>

  <%= f.submit t ".submit", class: "btn btn-primary" %>
<% end %>
