<p id="notice"><%= notice %></p>

<h1><%= t ".title" %></h1>

<table>
  <tbody>
    <% @celebrities.each do |celebrity| %>
      <tr>
        <td><%= celebrity.name %></td>
        <td><%= image_tag celebrity.portrait.url if celebrity.portrait? %> </td>
        <td><%= link_to t(".show"), [:admin, celebrity] %></td>
        <td><%= link_to t(".edit"), edit_admin_celebrity_path(celebrity) %></td>
        <td><%= link_to t(".destroy"), [:admin, celebrity], method: :delete, data: {confirm: t(".sure")} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_admin_celebrity_path %>
