<p id="notice"><%= notice %></p>

<h1><%= t ".title" %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= image_tag movie.poster.url if movie.poster? %> </td>
        <td><%= link_to t(".show"), movie %></td>
        <td><%= link_to t(".edit"), edit_movie_path(movie) %></td>
        <td><%= link_to t(".destroy"), movie, method: :delete, data: {confirm: t(".sure")} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_movie_path %>
