<%= content_for :slider do %>
  <div class="slider-area fake-slider container"></div>
<% end %>
<div class="container content-margin-top">
  <div class="row">
    <div class="col-3 reset-padding">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to t(".tab_movie.title"), "#menu1", data: {toggle: "pill"}, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".tab_tvshow.title"), "#menu2", data: {toggle: "pill"}, class: "nav-link"%>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <%= render "movies/menu1" %>
        <%= render "movies/menu2" %>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <%= image_tag @movie.poster.url if @movie.poster? %>
        </div>
        <div class="col-8 bg-dark">
          <br>
          <div class="text-center">
            <h3 class="text-white">
              <%= @movie.name %>
            </h3>
            <div class="text-white">
              <%= t ".right_box.note1" %>
            </div>
            <div class="text-white">
              <%= t ".right_box.note2" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6 text-right">
              <h3><span class="badge-warning badge">
                  <%= @movie.critic_score.round(1) %></span></h3>
              <h4 class="text-muted">
                <%= t ".right_box.tomascore" %>
              </h4>
              <p class="text-light">
                <%= t ".right_box.explain1" %>
              </p>
            </div>
            <div class="col-6">
              <h3><span class="badge-warning badge">
                  <%= @movie.audience_score.round(1) %></span></h3>
              <h4 class="text-muted">
                <%= t ".right_box.audiscore" %>
              </h4>
              <p class="text-light">
                <%= t ".right_box.explain2" %>
              </p>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <%= render("reviews/form", medium_id: @movie.medium.id, user_id: current_user.id) unless current_user.reviewed?(@movie.medium) %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-center bg-danger"><span class="text-white ">
              <%= @movie.name %></span>
            <%= t"photos"%>
          </h3>
        </div>
        <div class="col-12">
          <%= image_tag @movie.poster.url if @movie.poster?%>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-12">
          <h3 class="text-center bg-danger"><span class="text-white ">
              <%= t".tab_movie.title" %></span>
            <%= t"info"%>
          </h3>
        </div>
        <div class="col-12">
          <p>
            <%= @movie.info %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-center bg-danger"><span class="text-white ">
              <%= t"cast" %></span></h3>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <div>
                <%= image_tag("home-video/trailer/1.jpg", class: "rounded-circle") %>
              </div><br>
              <h6 class="text-center"><span class="text-warning">
                  <%= t "teamplate.name" %></span></h6>
            </div>
            <div class="col-2">
              <div>
                <%= image_tag("home-video/trailer/1.jpg", class: "rounded-circle") %>
              </div><br>
              <h6 class="text-center"><span class="text-warning">
                  <%= t "teamplate.name" %></span></h6>
            </div>
            <div class="col-2">
              <div>
                <%= image_tag("home-video/trailer/1.jpg", class: "rounded-circle") %>
              </div><br>
              <h6 class="text-center"><span class="text-warning">
                  <%= t "teamplate.name" %></span></h6>
            </div>
            <div class="col-2">
              <div>
                <%= image_tag("home-video/trailer/1.jpg", class: "rounded-circle") %>
              </div><br>
              <h6 class="text-center"><span class="text-warning">
                  <%= t "teamplate.name" %></span></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-center bg-danger"><span class="text-white ">
              <%= t"review" %></span>
          </h3>
        </div>
        <% if @movie.medium.reviews.any? %>
          <%= render @movie.medium.reviews %>
        <% else %>
          <%= "No review yet" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
