<p id="notice"><%= notice %></p>

<h1><%= t ".title" %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.name %></td>
        <td><%= image_tag tv_show.poster.url if tv_show.poster? %> </td>
        <td><%= link_to t(".show"), tv_show %></td>
        <td><%= link_to t(".edit"), edit_tv_show_path(tv_show) %></td>
        <td><%= link_to t(".destroy"), tv_show, method: :delete, data: {confirm: t(".sure")} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new"), new_tv_show_path %>
