<div class="side-header show">
  <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
  <div class="side-header-inner custom-scroll">
    <nav class="side-header-menu" id="side-header-menu">
      <ul>
        <li class="has-sub-menu">
          <%= link_to "#" do %>
            <i class="ti-home"></i><span><%= t "teamplate.menu1" %></span>
          <% end %>
          <ul class="side-header-sub-menu">
            <li>
              <%= link_to "#" do %>
                <span><%= t "teamplate.menu1" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <span><%= t "teamplate.menu1" %></span>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to admin_movies_path do %>
            <i class="ti-palette"></i> <span><%= t "movies_title" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_tv_shows_path do %>
            <i class="ti-palette"></i> <span><%= t ".tv_show" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_celebrities_path do %>
            <i class="ti-palette"></i> <span><%= t ".celebrities" %></span>
          <% end %>
        </li>
<<<<<<< HEAD
        <li>
          <%= link_to admin_news_index_path do %>
            <i class="ti-palette"></i> <span><%= t ".news" %></span>
          <% end %>
        </li>
        <li class="has-sub-menu">
          <%= link_to "#" do %>
            <i class="ti-package"></i><span><%= t "movies_title" %></span>
          <% end %>
          <ul class="side-header-sub-menu">
            <li>
              <%= link_to "#" do %>
                <span><%= t "teamplate.menu1" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <span><%= t "teamplate.menu1" %></span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="has-sub-menu">
          <%= link_to "#" do %>
            <i class="ti-crown"></i> <span><%= t "tvshow_title" %></span>
          <% end %>
        </li>
=======
>>>>>>> demo
      </ul>
    </nav>
  </div>
</div>
