<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3><%= link_to news.title, news_path(news) %></h3>
    </div>
    <h4 class="card-title text-right"><%= news.user_name %></h3>
    <p class="card-text">
      <%= news.content %>
    </p>
    <div class="row">
      <% if current_user == news.user %>
        <div class="col-4 offset-4">
          <div class="btn-group">
            <%= button_to t(".edit"), edit_news_path(news), method: :get, class: "btn btn-outline-primary btn-sm" %>
            <%= button_to t(".destroy"), news, method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" %></td>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="movie_head"></div>
