<%= content_for :slider do %>
  <div class="slider-area fake-slider container"></div>
<% end %>
<div class="container content-margin-top reset-padding">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-9">
      <h2 class="news-header text-center"><%= t ".title" %></h2>
      <% if user_signed_in? %>
        <h4><%= link_to "<span class='badge badge-warning'>Create</span>".html_safe, new_news_path %></h4>
      <% end %>
      <div class="row">
        <% @all_news.each do |news| %>
          <%= render partial: "list_news", locals: {news: news} %>
        <% end %>
      </div>
      <%= paginate @all_news, theme: "twitter-bootstrap-4",
                   pagination_class: "pagination-sm" %>
    </div>
    <div class="col-3 reset-padding">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to t("movies.show.tab_movie.title"), "#menu1", data: {toggle: "pill"}, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to t("movies.show.tab_tvshow.title"), "#menu2", data: {toggle: "pill"}, class: "nav-link" %>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <%= render "movies/menu1" %>
        <%= render "movies/menu2" %>
      </div>
    </div>
  </div>
</div>
