<%#= content_for :slider do %>
<!--<div class="slider-area fake-slider container"></div>-->
<%# end %>
<!--<div class="row">-->
<!--  <div class="col-8 offset-2">-->
<!--    <h1 class="text-center"><%#= t ".new" %></h1>-->
<!--  </div>-->
<!--</div>-->
<%#= render "form", news: @news %>



<%= content_for :slider do %>
  <div class="slider-area fake-slider container"></div>
<% end %>
<div class="container content-margin-top reset-padding">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-9">
      <h2 class="news-header text-center"><%= t "News" %></h2>
      <%= render "form", news: @news %>
    </div>
    <div class="col-3 reset-padding">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to t("movies.show.tab_movie.title"), "#menu1", data: {toggle: "pill"}, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to t("movies.show.tab_tvshow.title"), "#menu2", data: {toggle: "pill"}, class: "nav-link" %>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <%= render "movies/menu1" %>
        <%= render "movies/menu2" %>
      </div>
    </div>
  </div>
</div>
