<%= form_for [:admin, @movie] do |f| %>
  <%= f.label t ".name" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label t ".release_date" %>
  <%= f.date_field :release_date, class: "form-control" %>

  <%= f.label t ".info" %>
  <%= f.text_field :info, class: "form-control" %>

  <%= f.label t ".poster" %>
  <span class="poster">
    <%= f.file_field :poster, accept: Settings.movies.poster_accept %>
  </span>

  <%= f.submit t ".submit", class: "btn btn-primary" %>
<% end %>
