<%= @movie.name %><br>
<%= @movie.info %><br>

<% if @movie.medium.celebrity_media.any? %>
  <br>
  <%= render @movie.medium.celebrity_media %>
<% end %>

<h2><%= t ".add_celebrity" %></h2>
<%= render "admin/celebrity_media/form", celebrity_medium: @movie.medium.celebrity_media.build, medium_id: @movie.medium.id %>
<br>

<%= link_to t(".back"), admin_movies_path %>
