<h3 class="text-center text-warning"><%= @movie.name %></h3>
<span class="badge-success badge"><%= link_to t(".back"), admin_movies_path %></span>
<br><br>
<div class="box">
  <div class="box-body">
    <p class="text-white"><%= @movie.info %></p>
  </div>
</div>
<% if @movie.medium.celebrity_media.any? %>
  <br>
  <%= render @movie.medium.celebrity_media %>
<% end %>

<h2><%= t ".add_celebrity" %></h2>
<%= render "admin/celebrity_media/form", celebrity_medium: @movie.medium.celebrity_media.build, medium_id: @movie.medium.id %>
<br>
<br>
<div class="box">
  <div class="box-body">
    <% if @movie.medium.celebrity_media.any? %>
      <br>
      <%= render @movie.medium.celebrity_media %>
    <% end %>
  </div>
</div>
<br><br>
<div class="box">
  <div class="box-body">
    <h3><%= t ".add_celebrity" %></h3>
    <%= render "admin/celebrity_media/form", celebrity_medium: @movie.medium.celebrity_media.build, medium_id: @movie.medium.id %>
    <br>
  </div>
</div>

