<h3><%= @tv_show.name %><br></h3>
<span class="badge-warning badge"><%= link_to t(".back"), admin_tv_shows_path %></span>
<span class="badge-success badge"><%= link_to t(".edit"), edit_admin_tv_show_path(@tv_show) %></span>
<span class="badge-primary badge"><%= link_to t(".destroy"), [:admin, @tv_show], method: :delete, data: {confirm: t("
.sure")} %></span>
<br><br>
<div class="box">
  <div class="box-body">
    <%= @tv_show.info %>
    <br><br>
    <%= image_tag @tv_show.poster.url if @tv_show.poster? %><br>
  </div>
</div>

<% if @tv_show.seasons.any? %>
  <br>
  <%= render @tv_show.seasons %>
<% end %>

<div class="box">
  <div class="box-body">
    <h2><%= t ".add_season" %></h2>
    <%= render "admin/seasons/form", season: @tv_show.seasons.build %>
    <br>
  </div>
</div>
