<%= content_for :slider do %>
  <div class="slider-area fake-slider container"></div>
<% end %>
<div class="row">
  <div class="col-4 offset-4 background-color-white">
    <h2 class="text-center"><%= t "sign_in.title" %></h2>
    <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"} do |f| %>
      <div class="form-label-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
      </div>

      <div class="form-label-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="custom-control custom-checkbox mb-3">
          <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck1" %>
          <%= f.label :remember_me, class: "custom-control-label", for: "customCheck1" %>
        </div>
      <% end %>

      <%= f.button t("sign_in.title"), type: "submit", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
      <hr class="my-4">
    <% end %>
  </div>
</div>
