<%= form_for @review do |f| %>
  <%= f.label t ".content" %>
  <%= f.text_field :content, class: "form-control" %>

  <%= f.label t ".score" %>
  <%= f.select :score, (1..10), class: "form-control" %>

  <%= f.hidden_field :medium_id, {value: medium_id} %>
  <%= f.hidden_field :user_id, {value: user_id} %>

  <div class="text-right">
    <%= f.button "Submit", type: "submit", class: "btn btn-warning btn-sm" %>
  </div>
<% end %>
