<footer class="bg-5 bg-overlay-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 reset-padding">
        <div class="footer-bottom">
          <div class="footer-left">
            <p>Copyright © <a href="#">Rotten Potatoes</a>. All Right Reserved.</p>
          </div>
          <div class="footer-right-social f-right">
            <ul>
              <li><%= link_to '<i class="icofont icofont-facebook"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-pinterest"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-pinterest"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-twitter"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-google-plus"></i>'.html_safe,"#" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
