<footer class="bg-5 bg-overlay-2">
  <div class="footer-top ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-single">
            <h5>
              <%= t "footer.title1" %>
            </h5>
            <div class="stay-with-content">
              <p></p>
              <div class="subcribe">
                <form id="mc-form">
                  <input autocomplete="off" placeholder="Your E-mail" type="text">
                  <button value="Submit" type="submit" class="search-button">
                    <%= t "subcribe" %></button>
                  <div class="mailchimp-alerts text-centre">
                    <div class="mailchimp-submitting"></div>
                    <div class="mailchimp-success"></div>
                    <div class="mailchimp-error"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-single">
            <h5>
              <%= t "footer.title2" %>
            </h5>
            <div class="footer-menu">
              <ul>
                <li>
                  <%= link_to "","#" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-single">
            <h5>
              <%= t "footer.title3" %>
            </h5>
            <div class="footer-menu">
              <ul>
                <li>
                  <%= link_to "","#" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-single">
            <h5>
              <%= t "footer.title4" %>
            </h5>
            <div class="contact-info">
              <ul>
                <li>
                  <p></p>
                </li>
                <li>
                  <p></p>
                </li>
                <li>
                  <p></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-bottom">
          <div class="footer-left">
            <p>Copyright © <a href="#">Ftage</a>. All Right Reserved.</p>
          </div>
          <div class="footer-right-social f-right">
            <ul>
              <li><%= link_to '<i class="icofont icofont-facebook"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-pinterest"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-pinterest"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-twitter"></i>'.html_safe,"#" %></li>
              <li><%= link_to '<i class="icofont icofont-google-plus"></i>'.html_safe,"#" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
