<header>
  <div class="header-menu mt-50" id="sticky-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="logo-img">
            <%= link_to image_tag("home-one/icon/logo.png", alt: "logo", class: "logo_size"), root_path %>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="main-menu text-right">
            <nav>
              <ul>
                <li class="active">
                  <%= link_to t("movies_title"), "#" %>
                </li>
                <li>
                  <%= link_to t("tvshow_title"), "#" %>
                </li>
                <li>
                  <%= link_to t("news_title"), "#" %>
                </li>
                <% if logged_in? %>
                <li>
                  <%= link_to t("logout"), logout_path, method: :delete %>
                </li>
                <% else %>
                <li>
                  <%= link_to t("login_title"), '#', { 'data-toggle' => 'modal', 'data-target' => '#loginModal'} %>
                </li>
                <li>
                  <%= link_to t("signup_title"), '#', { 'data-toggle' => 'modal', 'data-target' => '#signupModal'} %>
                </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
        <%= form_tag(search_index_path, class: "form-inline", method: :get) do %>
        <div class="input-group">
          <%= text_field_tag :keyword, params[:keyword], class: "form-control",
          autocomplete: :off %>
          <%= select_tag :search_by, options_for_select(["Name", "Year"]),
          class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "Search" , class: "btn btn-outline-success" %>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield :slider %>
</header>
